
{%- load_yaml as base_defaults %}
Debian:
  debug: false
  ble_enabled: false
  gpio_enabled: false
  backend: {}
  module: {}
  module_default:
    read_interval: 1000
    output_interval: 60000
    input_backends: []
    output_backends: []
  source:
    engine: git
    address: https://github.com/cznewt/robophery.git
    revision: master
  pkgs:
    default:
    - python-dev
    - python-virtualenv
    - python-pip
    - build-essential
    gpio:
    - libi2c-dev
    - python-ftdi
    - python-smbus
    ble:
    - bluez
    - libbluetooth-dev
  pip:
    gpio:
    - w1thermsensor
    - Adafruit_Python_DHT
    ble:
    - gattlib==0.20150805
    - PyBluez==0.22
  service: robophery-manager
  dir:
    base: /srv/robophery
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('robophery:server')) %}
