Source: salt-formula-robophery
Maintainer: ales.komarek@newt.cz
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-robophery
Vcs-Git: https://github.com/tcpcloud/salt-formula-robophery.git

Package: salt-formula-robophery
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: robophery salt formula
 Install and configure robophery system.
