{%- from "robophery/map.jinja" import server with context %}

[Unit]
Description=robophery manager
Wants=mosquitto.service
After=network.target mosquitto.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{ server.dir.base }}
Environment=ROBOPHERY_CONF=/etc/robophery
ExecStart={{ server.dir.base }}/bin/rp_manager
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target